.header {
	padding-top: 27px;
	padding-bottom: 45px;
}

.header__inner {
	align-items: center;
	display: grid;
	grid-template-columns: 190px 123px 151px 99px 757px 97px 354px;
}

.header__logo {
	display: flex;
	align-items: center;
	width: 190px;
	height: 37.8px;
}

.header__logo-span {
	width: 123px;
	height: 54px;
	background-color: rgba(255, 255, 255, 1);
}

.header__menu {
	display: flex;
	align-items: center;
	width: auto;
	height: 54px;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	line-height: 33px;
	background-color: rgba(54, 112, 199, 1);
	padding: 15px 30px;
	border-radius: 10px;
}

.header__menu-img {
	margin-right: 7px;
}

.header__menu-link {
	font-family: "Lato", "Arial", sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	line-height: 150%;
}

.header__menu-span-span {
	width: 99px;
	height: 54px;
	background-color: rgba(255, 255, 255, 1);
}

/* input */

.header__search {
	position: relative;
}

.header__search-input {
	width: 757px;
	height: 54px;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	color: #8f8f8f;
	line-height: 130%;
	color: #9e9c9c;
	background-color: #efefef;
	padding-left: 20px;
	border: none;
	border-radius: 30px;
	outline: none;
}

.header__search-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 655px;
	width: 101px;
	height: 54px;
	border: none;
	background: rgba(54, 112, 199, 1);
	border-radius: 30px;
	cursor: pointer;
}

.header__search-img {
	width: 36px;
	height: 36px;
}

.header__search-span {
	height: 54px;
	width: 97px;
	background-color: rgba(255, 255, 255, 1);
}

.header__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 350px;
}

.header__item-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 54px;
}

.header__item-img {
	width: 36px;
	height: 36px;
}

.header__item-text {
	font-family: "Lato", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: rgba(45, 45, 45, 1);
	line-height: 20.8px;
}

.header__item-prima {
	width: 69px;
}

.header__item-second {
	width: 63px;
}

.header__item-third {
	width: 82px;
}

