.card {
	padding-top: 30px;
	padding-bottom: 189px;
	color: var(--main-color);
}

.card__box {
	display: grid;
	max-width: 1920px;
	min-height: 1160px;
	grid-template-columns: 1fr 1fr 2.24fr 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	grid-auto-flow: row;

	grid-template-areas:
		"one two three four four"
		"five five three six six"
		"seven seven seven otto nane"
		"seven seven seven otto ten";
	gap: 60px;
}

/* 1 */
.one {
	grid-area: one;
	width: 100%;
	height: 245px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img1.png");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px;
}

.one__text {
	max-width: 190px;
	padding-top: 97px;
	padding-left: 20px;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: var(--main-color);
	line-height: 39px;
}

.one__text-span {
	font-family: "Lato", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: var(--main-color);
	line-height: 39px;
}

/* 2 */
.two {
	grid-area: two;
	max-width: 245px;
	height: 245px;
	background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img2.png");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px;
}

.two__text {
	margin-bottom: 20px;
	padding-top: 78px;
	padding-left: 14px;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: var(--main-color);
	line-height: 39px;
}

.two__span {
	display: flex;
	margin-left: 137px;
	width: 5.5rem;
	height: 5.5rem;
	justify-content: center;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: var(--main-color);
	line-height: 39;
	background-color: var(--yellow-color);
	border-radius: 50%;
	align-items: center;
}

/* 3 */
.three {
	grid-area: three;
	max-width: 550px;
	max-height: 550px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16)), url("../card/img/img3.png");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px;
}

.three__text {
	margin-top: 350px;
	margin-left: 20px;
	max-width: 510px;
	min-height: 178px;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 41px;
	font-weight: 400;
	color: var(--main-color);
	padding: 26px 24px 26px 23px;
	line-height: 48px;
	border-radius: 20px;
	background-color: rgba(56, 192, 235, 1);
}

.three__text-span {
	font-family: "Lato", "Arial", sans-serif;
	font-size: 56px;
	font-weight: 700;
	color: var(--main-color);
	line-height: 67.2px;
}

/* 4 */
.four {
	grid-area: four;
	max-width: 550px;
	height: 245px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img4.png");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px;
}

.four__text {
	max-width: 377px;
	height: 111px;
	padding-top: 104px;
	padding-left: 30px;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: var(--main-color);
	line-height: 52px;
}

/* 5 */
.five {
	grid-area: five;
	max-width: 550px;
	height: 245px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img5.png");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px;
}

.five__span {
	display: flex;
	margin-left: 20px;
	margin-top: 20px;
	width: 5.5rem;
	height: 5.5rem;
	justify-content: center;
	align-items: center;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: var(--main-color);
	line-height: 39px;
	background-color: var(--yellow-color);
	border-radius: 50%;
}

/* 6 */
.six {
	grid-area: six;
	display: flex;
	max-width: 550px;
	height: 245px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img6.png");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px;
}

.six__text {
	display: flex;
	max-width: 429px;
	padding-top: 140px;
	padding-left: 30px;
	align-items: center;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: var(--main-color);
	line-height: 52px;
}

.six__span {
	display: flex;
	margin-top: 137px;
	margin-left: 20px;
	width: 5.5rem;
	height: 5.5rem;
	justify-content: center;
	align-items: center;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: var(--main-color);
	background-color: var(--yellow-color);
	border-radius: 50%;
	line-height: 39px;
}

/* 7 */
.seven {
	grid-area: seven;
	max-width: 1160px;
	max-height: 550px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16)), url("../card/img/img7.png");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px;
}

.seven__text {
	margin-top: 385px;
	margin-left: 50px;
	max-width: 643px;
	border-radius: 20px;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: rgba(249, 17, 85, 1);
	padding: 32px 41px;
	line-height: 48px;
	text-transform: uppercase;
	background-color: var(--main-color);
}

/* 8 */
.otto {
	grid-area: otto;
	max-width: 245px;
	max-height: 550px;
	background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img8.png");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px;
}

.otto__span {
	display: flex;
	margin-top: 437px;
	margin-left: 137px;
	width: 5.5rem;
	height: 5.5rem;
	justify-content: center;
	align-items: center;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 30px;
	color: var(--main-color);
	font-weight: 700;
	line-height: 39px;
	background-color: var(--yellow-color);
	border-radius: 50%;
}

/* 9 */
.nane {
	grid-area: nane;
	max-width: 245px;
	height: 245px;
	background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img9.png");
	background-repeat: no-repeat;
	object-fit: cover;
	border-radius: 20px;
}

.nane__span {
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 39px;
	width: 5.5rem;
	height: 5.5rem;
	justify-content: center;
	align-items: center;
	font-family: "Lato", "Arial", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: var(--main-color);
	line-height: 39px;
	background-color: var(--yellow-color);
	border-radius: 50%;
}

.nane__text {
	padding-left: 20px;
	font-size: 30px;
	font-weight: 700;
	color: var(--main-color);
	line-height: 39px;
}

/* ten */
.ten {
	grid-area: ten;
	background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/Rectangle10.png");
	object-fit: cover;
	border-radius: 20px;
	background-repeat: no-repeat;
}

/* !!  @media  1770px  */

@media screen and (max-width: 1770px) {
	.card__box {
		min-height: 1160px;
		grid-template-rows: repeat(4, 245px);
		gap: 40px;
	}

	/* one */
	.one__text {
		max-width: 190px;
		padding-top: 97px;
		padding-left: 20px;
		font-size: calc(12px + 18 * (100vw / 1770));
	}

	.one__text-span {
		font-size: calc(12px + 18 * (100vw / 1770));
	}

	/* two */
	.two__text {
		font-size: calc(12px + 18 * (100vw / 1770));
	}

	.two__span {
		font-size: calc(12px + 18 * (100vw / 1770));
	}

	/* three */
	.three__text {
		margin-top: 324px;
		max-width: 480px;
		min-height: 190px;
		font-size: calc(12px + 28 * (100vw / 1770));
	}

	.three__text-span {
		font-size: calc(16px + 40 * (100vw / 1770));
	}

	/* four */
	.four__text {
		padding-top: 85px;
		padding-left: 30px;
		max-width: 362px;
		height: 111px;
		font-size: calc(12px + 28 * (100vw / 1770));
	}

	/* five */
	.five__span {
		font-size: calc(12px + 18 * (100vw / 1770));
	}

	/* six */
	.six__text {
		display: flex;
		margin-right: 94px;
		padding-top: 135px;
		max-width: 300px;
		align-items: center;
		font-size: calc(12px + 28 * (100vw / 1770));
	}

	.six__span {
		margin-left: 0;
		margin-top: 137px;
		font-size: calc(12px + 18 * (100vw / 1770));
	}

	/* seven */
	.seven__text {
		max-width: 643px;
		font-size: calc(20px + 20 * (100vw / 1770));
	}

	/* otto */
	.otto__span {
		margin-top: 420px;
		margin-left: 117px;
		font-size: calc(12px + 18 * (100vw / 1770));
	}

	/* nane */
	.nane__text {
		padding-left: 12px;
		font-size: calc(12px + 18 * (100vw / 1770));
	}

	.nane__span {
		margin-top: 18px;
		margin-left: 12px;
		margin-bottom: 39px;
		font-size: calc(12px + 18 * (100vw / 1770));
	}
}

/* !!  @media  1702px  */

@media screen and (max-width: 1702px) {
	/* three */
	.three__text {
		margin-top: 350px;
		margin-left: 22px;
		min-height: 146px;
	}

	/* six */
	.six__text {
		margin-right: 75px;
	}

	/* otto */
	.otto__span {
		margin-left: 97px;
	}

	/* nane */
	.nane__span {
		margin-bottom: 24px;
	}
}

/* !!  @media  1633px  */

@media screen and (max-width: 1633px) {
	/* three */
	.three__text {
		margin-top: 280px;
		max-width: 428px;
	}
}

/* !!  @media  1590px  */

@media screen and (max-width: 1590px) {
	/* three */
	.three__text {
		margin-top: 280px;
		max-width: 408px;
	}

	/* four */
	.four__text {
		max-width: 300px;
		padding-top: 90px;
		padding-left: 30px;
	}

	/* six */
	.six__text {
		margin-right: 40px;
	}

	.six__span {
		margin-left: 0;
		margin-top: 137px;
	}
}

/* !!  @media  1556px  */

@media screen and (max-width: 1556px) {
	.card {
		padding-top: 20px;
		padding-bottom: 580px;
	}

	/* three */
	.three__text {
		max-width: 420px;
	}

	/* six */
	.six__text {
		max-width: 251px;
	}

	/* seven */
	.seven__text {
		max-width: 643px;
	}
}

/* !!  @media  1350px  */

@media screen and (max-width: 1350px) {
	/* six */
	.six__text {
		margin-right: 10px;
	}
}

/* !!  @media 1260px   */

@media screen and (max-width: 1260px) {
	.card__box {
		display: grid;
		max-width: 1260px;
		min-height: 1382px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr) 550px;
		grid-template-areas:
			"one two three three "
			"five five three three"
			"four four otto nane"
			"six six otto ten"
			"seven seven seven seven"
			"seven seven seven seven";
	}

	/* three */
	.three__text {
		max-width: 490px;
	}

	/* six */
	.six__text {
		max-width: 325px;
		margin-right: 101px;
	}

	/* otto */
	.otto__span {
		margin-left: 136px;
	}
}

/* !!  @media 1210px   */

@media screen and (max-width: 1210px) {
	/* three */
	.three__text {
		max-width: 460px;
	}
}

/* !!  @media 1192px   */

@media screen and (max-width: 1192px) {
	/* six */
	.six__text {
		max-width: 340px;
		margin-right: 70px;
	}
}

/* !!  @media 1024px   */

@media screen and (max-width: 1024px) {
	.card {
		padding-top: 11px;
		padding-bottom: 53px;
	}

	.card__box {
		display: grid;
		max-width: 1024px;
		min-height: 1382px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr) 418px;
		grid-template-areas:
			"one two three three "
			"five five three three"
			"four four otto nane"
			"six six otto ten"
			"seven seven seven seven"
			"seven seven seven seven";
		gap: 24px;
	}

	/* 1 */
	.one {
		max-width: 217px;
		height: 217px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media1024/img11.png");
		border-radius: 16px;
	}

	.one__text {
		max-width: 195px;
		padding-top: 123px;
		padding-left: 9px;
		line-height: 31.2px;
	}

	/* 2 */
	.two {
		max-width: 217px;
		height: 217px;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media1024/img12.png");
		border-radius: 16px;
	}

	.two__text {
		margin-bottom: 28px;
		padding-top: 58px;
		padding-left: 9px;
		font-size: 24px;
		line-height: 31.2px;
	}

	.two__span {
		margin-left: 119px;
	}

	/* 3 */
	.three {
		max-width: 458px;
		height: 458px;
		background-size: cover;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16)), url("../card/img/img-media1024/img13.png");
		border-radius: 16px;
	}

	.three__text {
		margin-top: 290px;
		margin-left: 22px;
		max-width: 414px;
		min-height: 88px;
		border-radius: 16px;
		padding: 29px 25px;
		line-height: 36px;
	}

	.three__text-span {
		line-height: 48px;
	}

	/* 4 */
	.four {
		max-width: 458px;
		height: 217px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media1024/img14.png");
		border-radius: 16px;
	}

	.four__text {
		max-width: 269px;
		min-height: 87px;
		padding-top: 110px;
		padding-left: 20px;
		line-height: 39px;
	}

	/* 5 */
	.five {
		max-width: 458px;
		height: 217px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media1024/img15.png");
		border-radius: 16px;
	}

	.five__span {
		margin-left: 10px;
		margin-top: 10px;
	}

	/* 6 */
	.six {
		max-width: 458px;
		height: 217px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media1024/img16.png");
		border-radius: 16px;
	}

	.six__text {
		margin-right: 55px;
		max-width: 300px;
		padding-top: 146px;
		padding-left: 20px;
		line-height: 39px;
	}

	.six__span {
		margin-top: 119px;
	}

	/* 7 */
	.seven {
		max-width: 940px;
		height: 418px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16)), url("../card/img/img-media1024/img17.png");
		background-repeat: no-repeat;
		object-fit: cover;
		border-radius: 16px;
	}

	.seven__text {
		margin-top: 296px;
		margin-left: 30px;
		max-width: 513px;
		font-size: 30px;
		line-height: 36px;
		padding: 24px 46px;
		border-radius: 16px;
	}

	/* 8 */
	.otto {
		max-width: 217px;
		height: 458px;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media1024/img18.png");
		border-radius: 16px;
	}

	.otto__span {
		margin-top: 360px;
		margin-left: 119px;
	}

	/* 9 */
	.nane {
		max-width: 217px;
		height: 217px;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media1024/img19.png");
		border-radius: 16px;
	}

	.nane__text {
		padding-left: 14px;
		font-size: 20px;
		line-height: 26px;
	}

	.nane__span {
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 79px;
	}

	/* 10 */
	.ten {
		max-width: 217px;
		height: 217px;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media1024/img20.png");
		object-fit: cover;
		border-radius: 16px;
	}
}

/* !!  @media 965px   */

@media screen and (max-width: 965px) {
	/* three */
	.three__text {
		max-width: 380px;
	}
	/* nane */
	.nane__span {
		margin-bottom: 39px;
	}
}

/* !!  @media 875px   */

@media screen and (max-width: 875px) {
	/* three */
	.three__text {
		margin-top: 250px;
		max-width: 310px;
		min-height: 160px;
	}

	/* six */
	.six__text {
		margin-right: 30px;
	}
}

/* !!  @media 858px   */

@media screen and (max-width: 858px) {
	.three__text {
		margin-top: 250px;
		max-width: 280px;
		min-height: 160px;
	}
}

/* !!  @media 768px   */

@media screen and (max-width: 768px) {
	.card {
		padding-top: 20px;
		padding-bottom: 580px;
	}

	.card__box {
		display: grid;
		max-width: 768px;
		/* height: auto; */
		min-height: 977px;
		grid-template-columns: repeat(2, 1fr) 220px 1fr;
		grid-template-rows: repeat(2, 1fr) repeat(4, 0.4fr) 337px;
		grid-template-areas:
			"one two three three "
			"five five three three"
			"four four three three"
			"four four otto nane"
			"six six otto nane"
			"six six otto ten"
			"seven seven seven seven"
			"seven seven seven seven";
		gap: 20px;
	}

	/* 1 */
	.one {
		max-width: 140px;
		height: 140px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media768/img71.png");
		object-fit: contain;
		border-radius: 12px;
	}

	.one__text {
		max-width: 126px;
		height: 77px;
		padding-top: 42px;
		padding-left: 10px;
		font-size: 24px;
		line-height: 110%;
	}

	.one__text span {
		font-size: 30px;
		line-height: 39px;
	}

	/* 2 */
	.two {
		max-width: 140px;
		height: 140px;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media768/img72.png");
		object-fit: contain;
		border-radius: 12px;
	}

	.two__text {
		margin-bottom: 28px;
		padding-top: 15px;
		padding-left: 5px;
		font-size: 16px;
		line-height: 130%;
	}

	.two__span {
		width: 3.125rem;
		height: 3.125rem;
		font-size: 16px;
		margin-left: 80px;
	}

	/* 3 */
	.three {
		max-width: 380px;
		height: 380px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16)), url("../card/img/img-media768/img73.png");
		object-fit: cover;
		border-radius: 12px;
	}

	.three__text {
		margin-top: 290px;
		margin-left: 10px;
		max-width: 360px;
		min-height: 61px;
		font-size: 16px;
		border-radius: 12px;
		padding: 16px 28px;
		line-height: 110%;
	}

	.three__text-span {
		font-size: 26px;
		line-height: 48px;
	}

	/* 4 */
	.four {
		max-width: 300px;
		height: 140px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media768/img74.png");
		object-fit: contain;
		border-radius: 12px;
	}

	.four__text {
		max-width: 155px;
		min-height: 38px;
		padding-top: 82px;
		padding-left: 20px;
		font-size: 16px;
		line-height: 120%;
	}

	/* 5 */
	.five {
		max-width: 300px;
		height: 140px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media768/img75.png");
		object-fit: contain;
		border-radius: 12px;
	}

	.five__span {
		margin-left: 10px;
		margin-top: 10px;
		max-width: 3.125rem;
		max-height: 3.125rem;
	}

	/* 6 */
	.six {
		max-width: 300px;
		height: 140px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media768/img76.png");
		border-radius: 12px;
	}

	.six__text {
		margin-right: 71px;
		padding-top: 101px;
		padding-left: 20px;
		max-width: 170px;
		min-height: 19px;
		font-size: 16px;
		line-height: 120%;
	}

	.six__span {
		max-width: 3.125rem;
		max-height: 3.125rem;
		margin-top: 80px;
	}

	/* 7 */
	.seven {
		max-width: 700px;
		height: 337px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16)), url("../card/img/img-media768/img77.png");
		object-fit: contain;
		border-radius: 12px;
	}

	.seven__text {
		margin-top: 243px;
		margin-left: 26px;
		max-width: 350px;
		font-size: 20px;
		line-height: 120%;
		padding: 22px 34px;
		border-radius: 12px;
	}

	/* 8 */
	.otto {
		max-width: 220px;
		height: 220px;
		align-self: end;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media768/img78.png");
		object-fit: contain;
		border-radius: 12px;
	}

	.otto__span {
		max-width: 3.125rem;
		max-height: 3.125rem;
		margin-top: 160px;
		margin-left: 160px;
	}

	/* 9 */
	.nane {
		max-width: 140px;
		height: 140px;
		align-self: end;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media768/img79.png");
		object-fit: contain;
		border-radius: 12px;
	}

	.nane__text {
		padding-left: 14px;
		font-size: 16px;
		line-height: 120%;
	}

	.nane__span {
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 28px;
		max-width: 3.125rem;
		max-height: 3.125rem;
	}

	/* 10 */
	.ten {
		max-width: 140px;
		height: 60px;
		align-self: end;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media768/img80.png");
		object-fit: contain;
		border-radius: 12px;
	}
}

/* !!  @media  736px  */

@media screen and (max-width: 736px) {
	/* three */
	.three__text-span {
		font-size: 24px;
	}
}

/* !!  @media  723px  */

@media screen and (max-width: 723px) {
	/* three */
	.three__text {
		margin-top: 240px;
		max-width: 335px;
		min-height: 130px;
	}
}

/* !!  @media  717px  */

@media screen and (max-width: 717px) {
	/* three */
	.three__text {
		max-width: 320px;
	}
}

/* !!  @media  685px  */

@media screen and (max-width: 685px) {
	/* three */
	.three__text {
		margin-top: 240px;
		max-width: 325px;
		min-height: 130px;
	}

	/* nane */
	.nane__text {
		padding-left: 10px;
	}
	.nane__span {
		margin-bottom: 19px;
	}
}

/* !!  @media 320px   */

@media screen and (max-width: 320px) {
	.card {
		padding-top: 10px;
		padding-bottom: 234px;
	}

	.card__box {
		display: grid;
		max-width: 320px;
		min-height: 1287px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 0.9fr 280px 0.9fr 0.9fr repeat(2, 1fr) 0.9fr;
		grid-template-areas:
			"one two"
			"five five"
			"three three"
			"four four"
			"six six"
			"otto nane"
			"otto ten"
			"seven seven";
		gap: 20px;
	}

	/* 1 */
	.one {
		max-width: 130px;
		height: 130px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media320/img321.png");
		object-fit: contain;
		border-radius: 8px;
	}

	.one__text {
		padding-top: 76px;
		padding-left: 10px;
		width: 66px;
		height: 44px;
		font-size: 12px;
	}

	.one__text span {
		font-size: 16px;
		line-height: 110%;
	}

	/* 2 */
	.two {
		max-width: 130px;
		height: 130px;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media320/img322.png");
		object-fit: contain;
		border-radius: 8px;
	}

	.two__text {
		margin-bottom: 28px;
		padding-top: 15px;
		padding-left: 5px;
		font-size: 16px;
		line-height: 130%;
	}

	.two__span {
		margin-left: 75px;
		font-size: 16px;
	}

	/* 3 */
	.three {
		max-width: 280px;
		height: 280px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16)), url("../card/img/img-media320/img320.png");
		object-fit: contain;
		border-radius: 8px;
	}

	.three__text {
		margin-top: 205px;
		margin-left: 10px;
		width: 260px;
		min-height: 36px;
		font-size: 12px;
		border-radius: 8px;
		padding: 9px 25px;
		line-height: 110%;
	}

	.three__text-span {
		font-size: 16px;
	}

	/* 4 */
	.four {
		max-width: 280px;
		height: 118px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media320/img325.png");
		object-fit: contain;
		border-radius: 8px;
	}

	.four__text {
		padding-top: 88px;
		padding-left: 10px;
		max-width: 181px;
		font-size: 12px;
		line-height: 120%;
	}

	/* 5 */
	.five {
		max-width: 280px;
		height: 118px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media320/img323.png");
		object-fit: contain;
		border-radius: 8px;
	}

	.five__span {
		margin-left: 10px;
		margin-top: 10px;
	}

	/* 6 */
	.six {
		max-width: 280px;
		height: 118px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media320/img326.png");
		object-fit: contain;
		border-radius: 8px;
	}

	.six__text {
		margin-right: 103px;
		padding-top: 88px;
		padding-left: 10px;
		max-width: 149px;
		height: 14px;
    font-size: 12px;
		line-height: 120%;
	}

	.six__span {
		margin-top: 63px;
	}

	/* 7 */
	.seven {
		max-width: 280px;
		height: 123px;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16)), url("../card/img/img-media320/img330.png");
		border-radius: 8px;
		object-fit: cover;
	}

	.seven__text {
		margin-top: 83px;
		margin-left: 15px;
		width: 250px;
		height: 30px;
		font-size: 12px;
		border-radius: 8px;
		line-height: 120%;
		padding: 7px 41px;
	}

	/* 8 */
	.otto {
		max-width: 130px;
		height: 280px;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media320/img327.png");
		object-fit: contain;
		border-radius: 8px;
	}

	.otto__span {
		margin-top: 220px;
		margin-left: 70px;
	}

	/* 9 */
	.nane {
		max-width: 130px;
		height: 130px;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media320/img328.png");
		object-fit: contain;
		border-radius: 8px;
	}

	.nane__text {
		padding-left: 14px;
		font-size: 12px;
		line-height: 120%;
	}

	.nane__span {
		margin-top: 5px;
		margin-left: 5px;
		margin-bottom: 51px;
	}

	/* 10 */
	.ten {
		max-width: 130px;
		height: 130px;
		background-image: linear-gradient(rgba(7, 7, 7, 0), rgba(0, 0, 0, 0.2)), url("../card/img/img-media320/img329.png");
		border-radius: 8px;
		object-fit: contain;
	}
}
